// ========================================
// Buttons
// ========================================

// Global Button Style

.btn 				{
	width: 90%;
	min-height: 3rem;
	font-size: .825rem;
	font-weight: 600;
	text-transform: uppercase;
	padding: 0.75rem 1.75rem;
	border: none;
	border-radius: 0.5rem;
	margin: 1rem;
	@include mqm(small)	{
		padding: 0.75rem 2.5rem;
	}
	@include mqm(medium)	{
		min-width: 8rem;
		border-radius: 0.75rem;
	}
}

@each $name, $color in $colors 	{
	.btn							{
		&.#{$name} 						{
			background-color: $color;
			@include btn($color);
		}
	}
}

// Array Controls

.success			{
	
}

.danger				{
	
}

.select				{
	
}

.option				{
	
}

// Contact Form

.submit				{

}