// ========================================
// Base Styles
// ========================================

// Body

body 				{
	font-family: Poppins, sans-serif;
	text-align: center;
	line-height: 1.5;
	letter-spacing: .4px;
	background: $black;
}

a 				{
	text-decoration: none;
}